/* Body, heading and header styling */
body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 3rem;
    color: #444040;
}

header {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
}

/* The poster with grid and two sections */
.poster {
    display: grid;
    width: 1200px;
    height: 665px;
    margin: 50px auto;
    position: relative;
}

.text {
    font-size: 4.6rem;
    color: #ffffff;
    transform: rotate(90deg);
    transform-origin: left top 0;
    position: absolute;
    width: 665px;
    line-height: 4.2rem;
    margin-top: 15px;
    margin-left: 40px;
}

.gradient-section {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 700px;
    height: 665px;
    background: linear-gradient(180deg, #FE902F 37.76%, #7155CE 100%);
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.gradient-section img {
    align-self: end;
}

.image-section {
    grid-column-start: 2;
    grid-column-end: 3;
    width: 500px;
    height: 665px;
    background-image: url(images/roisin-img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* The original poster displayed */
.orginal-poster {
    background-image: url(images/roisin-poster.jpg);
    background-repeat: no-repeat;
    width: 1200px;
    height: 665px;
    margin: 50px auto;
}